*{padding: 0%;
margin: 0%;
box-sizing: border-box;
}
*body{
  overflow: hidden;
  
}
#hader{
    background: #0193c4;
    width: 100%;
    max-width: 500px;
    height: 4ch;
    display: flex;
   justify-content: center;
   align-items: center;
   color: rgb(0, 0, 0);
}
#hader2{
    display: flex;
   align-items: center;
   margin-top: 1ch;
}
#logo img{
    max-width: 160px;
    width: 100%;
}
.serch i{
    margin-left: 1ch;
    font-size: 19px;
}
.serch input{
  max-width: 150px;
  height: auto;
 width: 100px;
 flex: 1;
 

}
#line{
    margin-left: 1ch;
}
#main2 img{
    max-width: 500px;
    margin-top: 1ch;
    width: 100%;
}
#COURS{
    display: flex;
    gap: 3ch;
   margin-top: 1ch;
}
.gap{
    margin-left: 8ch;
}
#texthero{
  padding: 10px 20px;
  margin: 0 auto;
   margin-top: 1ch;
   text-align: center;
   font-size: 13px;

    color: rgb(0, 0, 0);
    background-color: rgba(83, 5, 155, 0.147);
    width: 100%;
    max-width: 500px;
    border-radius: 1ch;
}
#bca {
    font-size: small;
    margin-top: 2ch;
    
}
.gaptext{
    margin: 0 auto;
   
    font-size: small;
    margin-top: 2ch;
    border:solid black ;
    background: #1f8bffcd;
    
    
}
#imgadd img{
   max-width: 500px;
    height: auto;
    margin-top: 1ch;
    width: 100%;
}
#bca h2 {
    background: #0083e790;
    max-width: 500px;
    border: solid;

}
#bca p{
    margin-top: 1ch;
    color: rgb(82, 0, 159);
}
#mainking{
    display: flex;
   background: #ca0303;
   color: aliceblue;
   margin-top: 2ch;
   max-width: 500px;
   
}
#box1{
    border:solid rgb(170, 13, 13);
 
}
#box2{
    border:solid rgb(170, 13, 13);
    
}
#box3{
    border:solid rgb(170, 13, 13);
    
}
#box4{
    border:solid rgb(170, 13, 13);
    
}
#box1 h5{
   margin-left: 1ch;
  
}
#box2 h5{
   margin-left: 4ch;
  
}
#box3 h5{
   margin-left: 4ch;
  
}
#box4 h5{
   margin-left: 4ch;
  
}
#last{
    background: #bdafaf;
    height: 3ch;
    width: 40ch;
    margin-top: 5ch;s
}
#last p {
  font-size: 12px;

}
.jojo{margin-left: 1ch;
}

